{% extends "WindsurfdbBaseBundle::layout.html.twig" %}

{% set board_name_complete %}
	{{ board.modele }} {% if board.annee != '' %}({{ board.annee }}){% endif %} - {{ board.marque.name }}
{% endset %}

{% block title %}{{ 'windsurfdb.matos.form.board.delete.title'|trans }} {{ board_name_complete }}{% endblock %}

{% block head %}
	{% stylesheets filter='cssrewrite, ?yui_css' 'bundles/windsurfdb/less/test.less' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block body %}
	<h1>
		{{ 'windsurfdb.matos.form.board.delete.title'|trans }} <b>{{ board_name_complete }}</b>
	</h1>

	<a href="{{ path('windsurfdb_matos_board_detail', {'slug': board.slug}) }}">
		Retour à la liste des spécifications de la planche: <b>{{ board_name_complete }}</b>
	</a>

	<p>
		Confirmer la suppression de la planche <b>{{ board.modele }} ({{ board.annee }}) - {{ board.marque.name }}</b> ?
	</p>
	{{ form_start(form) }}
		{{ form_widget(form.save, {'label': 'windsurfdb.matos.form.global.delete.btn' }) }}
		{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
