{% extends "WindsurfdbBaseBundle::layout.html.twig" %}

{% set board_name_complete %}
	{{ board.modele }} {% if board.annee != '' %}({{ board.annee }}){% endif %} - {{ board.marque.name }}
{% endset %}

{% block title %}{{ 'windsurfdb.matos.form.spec.add.title'|trans }} {{ board_name_complete }}{% endblock %}

{% block head %}
	{% stylesheets filter='cssrewrite, ?yui_css' 'bundles/windsurfdb/less/test.less' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
	<style>
		#windsurfdb_matosbundle_board_spec_images input, #windsurfdb_matosbundle_board_spec_images textarea {
			width: auto;
			margin: 0.2em;
		}
		#windsurfdb_matosbundle_board_spec_images > div > div > div:nth-child(3) label {
			float: left;
		}
		.s-spec table {
			width: 100%;
		}
		.s-spec table tr td:first-child {
			width: 5em;
		}
		.s-spec table input:not([type="checkbox"]) {
			width: 100% !important;
		}
	</style>
{% endblock %}

{% block body %}

	<h1>{{ 'windsurfdb.matos.form.spec.add.title'|trans }} pour {{ board_name_complete }}</h1>

	<p>
		<a href="{{ path('windsurfdb_matos_board_detail', {'slug': board.slug}) }}">Retour à la planche {{ board_name_complete }}</a>
	</p>

	<form name="windsurfdb_matosbundle_board_spec" method="post" action="">
		{{ form_errors(form) }}
		<table>
			<tbody>
				{% set ar = ['save', '_token', 'infos', 'techno', 'poids', 'prix', 'box', 'fin'] %}
				{% for f in form if f.vars.name not in ar %}
					<tr>
						<td>{{ form_label(f) }}</td>
						<td>{{ form_widget(f) }}</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="2"><button type="button" id="add_techno">Ajouter techno</button></td>
				</tr>
				<tr class="s-spec">
					<td>S-spec 1</td>
					<td>
						<table>
							<tbody>
								<tr>
									<td><label>Techno</label></td>
									<td>
										<input type="text" value="{% if data.techno is not null %}{{ data.techno[0] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_techno_0" name="windsurfdb_matosbundle_board_spec[techno][0]">
									</td>
								</tr>
								<tr>
									<td><label>Poids</label></td>
									<td>
										<input type="text" value="{% if data.poids is not null %}{{ data.poids[0] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_poids_0" name="windsurfdb_matosbundle_board_spec[poids][0]">
									</td>
								</tr>
								<tr>
									<td><label>Prix</label></td>
									<td>
										<input type="text" value="{% if data.prix is not null %}{{ data.prix[0] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_prix_0" name="windsurfdb_matosbundle_board_spec[prix][0]">
									</td>
								</tr>
								<tr>
									<td><label>Box</label></td>
									<td>
										<input type="text" value="{% if data.box is not null %}{{ data.box[0] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_box_0" name="windsurfdb_matosbundle_board_spec[box][0]">
									</td>
								</tr>
								<tr>
									<td><label>Fin</label></td>
									<td>
										<input type="text" value="{% if data.fin is not null %}{{ data.fin[0] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_fin_0" name="windsurfdb_matosbundle_board_spec[fin][0]">
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				{% if data.techno is not null and data.techno|length > 1 %}
					{% for i in 1..data.techno|length - 1 %}
						<tr class="s-spec" id="t_{{i}}">
							<td>S-spec {{i+1}}<div><button type="button" class="delete">Supprimer</button></div></td>
							<td>
								<table>
									<tbody>
										<tr>
											<td><label>Techno</label></td>
											<td>
												<input type="text" value="{% if data.techno is not null %}{{ data.techno[i] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_techno_{{i}}" name="windsurfdb_matosbundle_board_spec[techno][{{i}}]">
											</td>
										</tr>
										<tr>
											<td><label>Poids</label></td>
											<td>
												<input type="text" value="{% if data.poids is not null %}{{ data.poids[i] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_poids_{{i}}" name="windsurfdb_matosbundle_board_spec[poids][{{i}}]">
											</td>
										</tr>
										<tr>
											<td><label>Prix</label></td>
											<td>
												<input type="text" value="{% if data.prix is not null %}{{ data.prix[i] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_prix_{{i}}" name="windsurfdb_matosbundle_board_spec[prix][{{i}}]">
											</td>
										</tr>
										<tr>
											<td><label>Box</label></td>
											<td>
												<input type="text" value="{% if data.box is not null %}{{ data.box[i] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_box_{{i}}" name="windsurfdb_matosbundle_board_spec[box][{{i}}]">
											</td>
										</tr>
										<tr>
											<td><label>Fin</label></td>
											<td>
												<input type="text" value="{% if data.fin is not null %}{{ data.fin[i] }}{% endif %}" id="windsurfdb_matosbundle_board_spec_fin_{{i}}" name="windsurfdb_matosbundle_board_spec[fin][{{i}}]">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
				<tr class="infos">
					<td>{{ form_label(form.infos) }}</td>
					<td>{{ form_widget(form.infos) }}</td>
				</tr>
				<tr class="align-center">
					<td colspan="2">{{ form_widget(form.save, {'label': 'windsurfdb.matos.form.global.add.btn' }) }}</td>
				</tr>
			</tbody>
		</table>
		{{ form_row(form._token) }}
	</form>
{% endblock %}

{% block javascripts %}
	<script>
		var nb_techno = {{ data.techno|length - 1 }};
		$('.s-spec button.delete').each(function(i) {
			$(this).click(function() {
				$(this).parent().parent().parent().remove();
			});
		});
	</script>
	{% javascripts filter='?yui_js' 'bundles/windsurfdb/js/matos/form_board_spec.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% javascripts filter='?yui_js' 'bundles/windsurfdb/js/matos/form_board_img.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
